<!DOCTYPE html>
<html>
<head>
    <title>Note Application</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <link href="main.css" rel="stylesheet">
    <script
    src="https://code.jquery.com/jquery-3.3.1.js"
    integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
    crossorigin="anonymous"></script>
</head>

<body class="container-fluid">
    <header>
      <h2 class="header-item" id="download-md">
        <a target="_blank"><i class="fas fa-file-download"></i></a>
      </h2>
    </header>
    <section class="row">
        <div class="input-text col-xs-6 full-height">
          <textarea id="pad"></textarea>
        </div>

        <div class="col-xs-6 full-height" id="markdown"></div>
    </section>

    <footer>

    </footer>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <script src="script.js"></script>
    <script src="/channel/bcsocket.js"></script>
    <script src="/share/share.uncompressed.js"></script>
    <script src="/share/textarea.js"></script>
    <script src="script.js"></script>

</body>
</html>
